gTTS==2.3.1
numpy==1.24.2
openai==0.28.0
streamlit
streamlit-audiorecorder==0.0.2
selenium
# plotly
# matplotlib
# yfinance
# pydub
# scikit-learn
# wedriver-manager
# wordcloud

# import time
# import pandas as pd
# from wordcloud import WordCloud
# from datetime import datetime
# from PIL import Image
# import base64
# import os
# import pandas as pd

# gTTS
# numpy
# openai
# streamlit
# streamlit-audiorecorder

# plotly
# matplotlib
# yfinance
# pydub
# scikit-learn
